:root {
    --color1: white;
    --color2: #42e3f5;
    --color3: #42cef5;
    --color4: #001aff;
    --color5: #0800ff;

}

.main {
    background: linear-gradient(45deg, var(--color1), var(--color2),var(--color3), var(--color4), var(--color5));
    background-size: 400% 400%;

    -webkit-animation: main 15s ease infinite;
    -moz-animation: main 15s ease infinite;
    animation: main 15s ease infinite;

    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@-webkit-keyframes main {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes main {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes main {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}